body {
    font-family: 'Dotum', sans-serif;
    background-color: #FAFAFA;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #4D4D4D;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #F0F0F0;
}

input[type="submit"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #FEE500;
    color: #4D4D4D;
    font-size: 1.2em;
}

input[type="submit"]:hover {
    background-color: #F5E000;
    cursor: pointer;
}